.faq__header {
  background-image: url('../../assets/FAQ-header.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 19rem;
  position: relative;
}

.faq__header__title {
  position: absolute;
  color: #fff;
  margin-bottom: 0;
  left: 1.5rem;
  bottom: 1rem;
  font-weight: 600;
}

.faq__content {
  margin: 6rem 0;
  padding: 0 1rem;
  font-size: 1.9rem;
  line-height: 1.5em;
  color: var(--placeholder-color);
}

.faq__content__desc {
  margin-bottom: 5rem;
}

.faq__content--email {
  color: var(--main-color);
}

#faq1 .ant-collapse-item,
#faq1 .ant-collapse-content {
  border: 0;
}

#faq1 .ant-collapse-header {
  font-size: 2rem;
  color: var(--main-color);
  font-weight: 600;
  margin-bottom: 2rem;
  border: 0;
  padding: 0;
  /* padding-left: 0; */
  display: flex;
  align-items: center;
}

#faq1 .sub-title .ant-collapse-header {
  font-size: 1.7rem;
  color: var(--main-color);
  opacity: 0.9;
  font-weight: 600;
  /* margin-bottom: 3rem; */
  border: 0;
}

#faq1 .ant-collapse {
  border: 0;
  background: 0;
}

#faq1 .ant-collapse-arrow {
  font-size: 2rem;
  position: static;
  display: block;
  margin-right: 1rem;
  margin-top: 1.8rem;
}

#faq1 .sub-title .ant-collapse-arrow {
  font-size: 1.4rem;
  /* position: static; */
}
/* 
#faq1 .ant-collapse-content > .ant-collapse-content-box {
  padding: 0;
} */
