* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "amRaleway", sans-serif;
}
:root {
  --main-color: #EC6408;
  --placeholder-color: #5D686E;
  --opacity-search-button: 63%
}
