@import "~antd/dist/antd.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Raleway", sans-serif;
}

body {
  font-family: "Raleway", sans-serif;
}
p {
  margin: 0;
}
:root {
  --main-color: #f65b1c;
  --eco-color: #2eac65;
  --text-blackish-color: rgba(0, 0, 0, 0.65);
  --placeholder-color: #5d686e;
  --opacity-search-button: 0.7;
}

/* ant.d animations overrides */

ol,
ul,
dl {
  margin: 0;
  list-style-type: none;
}

.ant-select-arrow-icon {
  color: var(--main-color) !important;
}

.radio-group .ant-radio-button-wrapper {
  margin-right: 0.5rem !important;
}

.ant-radio-button-wrapper:hover {
  background-color: var(--main-color);
  opacity: 0.9;
  color: #fff;
}

.ant-radio-button-wrapper:last-child {
  border-radius: 0 !important;
}

.ant-radio-group > .ant-radio-button-wrapper-checked {
  border: none !important;
  background-color: var(--main-color) !important;
  color: #fff !important;
  font-weight: bold !important;
}

#ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
  opacity: 0;
  background: 0;
}
