* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #F65B1C;
  --eco-color: #2eac65;
  --placeholder-color: #5d686e;
  --opacity-search-button: .70;
}
