.menu {
  background-color: #fff;
}

.menu__list__close {
  font-size: 3rem;
  color: var(--main-color);
  cursor: pointer;
}

.menu__list {
  list-style: none;
  text-align: start;
}

.menu__list__item:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list__item {
  border-bottom: 1px solid #808080b9;
  cursor: pointer;
}

.menu__list__link {
  text-decoration: none;
  font-size: 2rem;
  color: var(--main-color);
  padding: 1.5rem 0.8rem;
  font-weight: 600;
  display: block;
}

.menu__list__link:hover {
  color: var(--main-color);
}
