.magical {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--eco-color);
  margin: 3% 0;
}

.magical__keyword {
  width: 30%;
  align-items: center;
  display: flex;
  height: 4rem;
  align-self: flex-start;
  padding-left: 0.5rem;
}

.magical__keyword__img-container {
  padding: 0.5rem;
  height: 90%;
}

.magical__keyword__img-img {
  height: 100%;
}

.magical__review {
  width: 60%;
  overflow-wrap: break-word;
  color: var(--text-blackish-color);
  letter-spacing: 0.5px;
  font-size: 1.4rem;
}
