.button {
  outline: none;
  border: none;
  cursor: pointer;
}

.transparent {
  background: transparent;
}

.primary-color {
  color: var(--main-color);
  font-weight: 600;
  font-size: 1.5rem;
}

.primary-background {
  background: var(--main-color);
  font-weight: 600;
  font-size: 1.25rem;
  padding: 0.7rem;
  display: flex;
  align-items: center;
}

.primary-background > * {
  color: #fff;
}

#plus-svg {
  font-size: 1.8rem;
}