.add-place__header {
  background: url('../../assets/images/addrecom.png') no-repeat center bottom/cover;
  height: 12vh;
}

.add-place__content {
  margin: 0 10%;
}

/* ================= override on style antd STEPS */

#add-place .ant-steps-horizontal {
  display: flex;
  justify-content: center;
}

#add-place .ant-steps-item-tail {
  top: -0.9rem;
  left: 2.8rem;
  z-index: -1;
  transform: rotate(270deg);
  padding: 1rem 0 0px !important;
}

#add-place .ant-steps-item-icon {
  margin: 0;
}