.keywords {
  padding: 1rem;
}

.keywords__close {
  display: flex;
  justify-content: flex-end;
  font-size: 2.5rem;
  color: #e8267c;
}

.keywords__title {
  color: var(--main-color);
  margin-bottom: 2rem;
  font-size: 2.4rem;
}

.keywords__list {
  display: flex;
  flex-wrap: wrap;
}

.keywords__list--item {
  margin-right: 9%;
  width: 40%;
  color: var(--placeholder-color);
  background: 0;
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
  display: block;
  padding: 0.5rem 0;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: left;
}

.active-btn {
  color: var(--main-color);
}
