.top-container {
  background: url('../../assets/images/home-background.jpg') no-repeat center bottom;
  padding-bottom: 2.5rem;
}

.top-container__slagon {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  color: whitesmoke;
  margin: 6rem 0;
}

.top-container__search {
  margin: auto;
}

.second-container {
  padding: 2rem;
}

.welcome-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 4rem;
  margin-top: 1rem;
}

.welcome-container__text {
  font-size: 2rem;
  font-weight: 800;
  color: var(--main-color);
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.value-paragragh {
  font-family: "Raleway", sans-serif;
  color: gray;
  margin-bottom: 5rem;
  font-size: 1.7rem;
  font-weight: 600;
}

.slider-title {
  font-size: 1.7rem;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  color: var(--main-color);
  text-align: center;
  margin-bottom: 3rem;
}

.slider {
  margin-bottom: 2rem;
}

@media (min-width: 1024px) {
  .top-container {
    background: url('../../assets/images/home-background.jpg') no-repeat center bottom/cover;
    padding-bottom: 2.5rem;
  }
  .top-container__search {
    margin: 0 25rem;
  }
  .welcome-container__text {
    font-size: 2.5rem;
    margin-right: -40rem;
    margin-left: -40rem;
  }
  .value-paragragh {
    font-size: 2.2rem;
    align-content: center;
  }
  .slider-title {
    font-size: 2.2rem;
  }
}
