.circle-main-color-button {
  background-color: var(--main-color);
  border: 0px;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}

.floating-action:focus {
  outline: none;
}

.floating {
  position: fixed;
  margin: 90vh 0 0 83vw;
}

.plus-text {
    font-size: 4rem;
}
