.show-case {
  height: 30vh;
  position: relative;
}

.search-result {
  padding: 1rem;
}

.results-label {
  margin-left: 1rem;
  font-weight: bold;
  color: #fff;
  position: absolute;
  bottom: 4%;
  font-size: 2.5rem;
  left: 5;
}

.sitspots-notfound-message {
  text-align: center;
  margin-top: 3rem;
  color: #777;
  font-weight: 600;
}

@media (min-height: 600px) and (min-width: 600px) {
  .show-case {
    height: 60vh;
    width: 100%;
  }
}
