.nav__header {
  position: absolute;
  height: 10vh;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: 0.5rem;
  width: 100%;
  z-index: 1;
}

.header__button {
  background-color: transparent;
  border: none;
  text-align: right;
}

.header__button__div {
  width: 3.2rem;
  height: 0.2rem;
  background-color: white;
}

.header__button__div--middle {
  margin: 0.7rem 0;
}

.header__div__img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.header__div__img-container__logo {
  width: 60%;
  height: auto;
}
