.slider {
  max-width: 800px;
  height: 100%;
  overflow: hidden;
  margin: auto;
}

.slider__slide__picture {
  width: 100%;
  margin-bottom: 3%;
}

.slider__slide__caption {
  font-weight: 720;
  font-size: 1.7rem;
  font-family: "Raleway", sans-serif;
}
