.search-result-list {
  display: flex;
  flex-wrap: wrap;
}

.search-result__item {
  width: 27%;
  margin: 3%;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
}

.search-result__item-img {
  width: 100%;
  height: auto;
}

.search-result__item-text {
  color: var(--placeholder-color);
  font-size: 1.4rem;
  font-weight: 650;
  margin-top: 1rem;
}
