.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list__item {
  margin-right: 2%;
  width: 31%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
}

.list__item__last__row {
  margin-right: 0;
}

.list__item__img {
  width: 100%;
  height: auto;
}

.list__item__text {
  color: var(--placeholder-color);
  font-size: 1.4rem;
  font-weight: 650;
  margin-top: 1rem;
}
