/* ================================= */
/* Basic style */
/* ================================= */

.steps {
  padding: 3rem 0;
}

.steps-content {
  min-height: 30rem;
  margin-top: 2rem;
  border-radius: 6px;
  padding: 0 0.4rem;
}

.steps .title {
  text-align: start;
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
}

.img__box {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.img__box--img {
  width: 100%;
}

.steps .input {
  display: block;
  width: 90%;
  font-family: inherit;
  font-weight: 600;
  font-size: 2rem;
  border: 0;
  outline: none;
  background-color: inherit;
  padding: 0.8rem 0.2rem;
  margin: 2rem auto;
  cursor: text;
  border-bottom: 0.1rem solid #4fb0ae;
}

.input:focus {
  border-bottom: 0;
}

.input::placeholder {
  color: #4fb0aeb7;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
}

.website__title,
.country__title,
.city__title {
  margin-bottom: 9rem;
}

/* ================================= */
/* Type COMPONENT */
/* ================================= */

.type__title {
  margin-bottom: 7rem;
}


/* ================================= */
/* BUTTON STYLE */
/* ================================= */
.steps .steps-action .steps__btn {
  width: 30%;
}

.steps .steps-action .steps__btn--left {
  position: relative;
  right: 1.5rem;
}

.steps .steps-action  .steps__btn--right {
  position: relative;
  left: 1.5rem;
}

@media only screen and (min-width: 760px) {
  .img__box{
    width: 28%;
  }
} 

@media only screen and (min-width: 1120px){
  .img__box{
    width: 23%;
  }
}
